@font-face {
    font-family: 'University Roman';
    src: url('UniversityRomanBT-Bold.woff2') format('woff2'),
        url('UniversityRomanBT-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

